<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcl.dao.UserManageDao">
    <!--添加用户信息，阶段更新除外-->
    <insert id="insertUser" parameterType="com.zcl.entity.Users">
        insert into users (user_account,user_name,phone,gender,birth,doctor_account,stage)
        values(#{user_account},#{user_name},#{phone},#{gender},date_format(#{birth},'%Y-%m-%d'),#{doctor_account},#{stage})
    </insert>
    <!--更新用户信息-->
    <update id="updateUser" parameterType="com.zcl.entity.Users">
        update users
        <set>
            <if test="gender!=null">
                gender=#{gender},
            </if>
            <if test="birth!=null">
                birth = date_format(#{birth},'%Y-%m-%d'),
            </if>
            <if test="doctor_account!=null">
                doctor_account = #{doctor_account},
            </if>
            <if test="stage!=null">
                stage = #{stage},
            </if>
            <if test="phone!=null">
                phone = #{phone},
            </if>
                user_name = #{user_name}
        </set>
        where user_account = #{user_account}
    </update>
    <!--查询stage是否改变-->
    <select id="selectStageByAccount" parameterType="java.lang.String" resultType="java.lang.String">
        select stage from users where user_account = #{user_account}
    </select>
    <select id="selectAllStage" resultType="com.zcl.entity.Stage">
        select
        stage_id,stage_name,stage_info
        from stage
    </select>
    <!--添加stage变化记录到stageHistory-->
    <insert id="insertStageChange" parameterType="com.zcl.entity.StageHistory">
        insert into stageHistory(user_account,stage_name,update_time)
        values(#{user_account},#{stage_name},date_format(#{update_time},'%Y-%m-%d %H:%i:%S'))
    </insert>
    <select id="selectDoctor" resultType="com.zcl.entity.Doctors">
        select
        doctor_account,name,email,phone
        from doctors
    </select>
    <select id="queryUserByAccount" resultType="com.zcl.entity.Users" parameterType="String">
        select user_id,user_account,user_name,phone,gender,birth,height,weight,stage,doctor_account
         from users where user_account = #{user_account}
    </select>
</mapper>